<configuration>
  <system.webServer>
    <handlers>
      <!-- Tell IISNode to run your compiled server.js -->
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="dist/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode loggingEnabled="true" logDirectory="iisnode" />
  </system.webServer>
</configuration>
